<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1>About</h1>
        <hr class="star-light">
      </div>
    </div>
    <div class="profiles row">
      {% for person in site.data.about %}
      <div class="col-sm-4">
        <div class="picture">
          <img src="{{person.picture.src}}" alt="{{person.picture.alt}}">
        </div>
        <h2>{{person.name}}</h2>
        <p>{{person.bio}}</p>
        {% if person.contact %}
        <ul class="list-inline">
          {% for network in person.contact %}
          <li><a href="{{network.url}}" class="btn-social btn-outline"><i class="fa fa-fw fa-{{network.title}}"></i></a></li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</section>
