<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1>Contact Us</h1>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p>Have a question or idea for a topic to cover on the show? Tweet at us <a href="http://twitter.com/refinedbits">@refinedbits</a> or email us at <a href="mailto:refinedbitspodcast@gmail.com">refinedbitspodcast@gmail.com</a>!</p>
      </div>
    </div>
  </div>
</section>
