<article class="episode">
  <header>
    <h1>{{include.episode.title}}</h1>
    <p class="subtitle">{{include.episode.description}}</p>
  </header>
  <hr class="star-primary">
  <figure class="art">
    <img src="{{include.episode.picture.src}}" class="img-responsive img-centered" alt="{{include.episode.picture.alt}}">
    <figcaption>
      <p>{{include.episode.picture.alt}}</p>
      {% if include.episode.picture.credit %}
        <p>photo: <a href="{{include.episode.picture.credit.source}}">{{include.episode.picture.credit.name}}</a> via <a href="{{include.episode.picture.credit.license.url}}" rel="license">{{include.episode.picture.credit.license.name}}</a></p>
      {% endif %}
    </figcaption>
  </figure>

  <section class="listen">
    <h1>Listen</h1>
    <audio preload="none" controls>
      {% for source in include.episode.audio.sources %}
        <source src="{{source.src}}" type="audio/{{source.type}}">
      {% endfor %}
    </audio>
    <div class="get-audio">
      <ul class="list-inline">
        {% for source in include.episode.audio.sources %}
          <li><a href="{{source.src}}">{{source.type}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </section>

  <section class="show-notes">
    {{include.episode.content | markdownify}}
  </section>

  <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
</article>
