<article class="episode" data-episode-id="{{include.episode.episode-id}}">
  <header>
    <h1>{{include.episode.title}}</h1>
    <p class="subtitle">{{include.episode.description}}</p>
  </header>
  <hr class="star-primary">
  <figure class="art">
    <img src="{{include.episode.picture.src}}" class="img-responsive img-centered" alt="{{include.episode.picture.alt}}">
    <figcaption>
      <p>{{include.episode.picture.alt}}</p>
      {% if include.episode.picture.credit %}
        <p>photo: <a href="{{include.episode.picture.credit.source}}">{{include.episode.picture.credit.name}}</a> via {% if include.episode.picture.credit.license.url %}<a href="{{include.episode.picture.credit.license.url}}" rel="license">{{include.episode.picture.credit.license.name}}</a>{% else %}{{include.episode.picture.credit.license.name}}{% endif %}</p>
      {% endif %}
    </figcaption>
  </figure>

  <section class="listen">
    <h1>Listen</h1>
    <audio preload="none" controls>
      <source src="{{include.episode.audio.src}}" type="audio/mp3">
    </audio>
    <div class="get-audio">
      <ul class="list-inline">
        <li><a href="{{include.episode.audio.src}}">download</a></li>
      </ul>
    </div>
  </section>

  <section class="show-notes">
    {{include.episode.content | markdownify}}
  </section>
</article>
