<section class="next-episode">
  <div class="container">
    <article class="row">
      <div class="col-lg-3 col-lg-offset-1">
        <img class="img-responsive" src="{{site.data.next-episode.picture.src}}" alt="{{site.data.next-episode.picture.alt}}">
      </div>
      <div class="col-lg-7">
        <small class="next-label">Next Episode</small>
        <h1>{{site.data.next-episode.title}}</h1>
        <h2>{{site.data.next-episode.subtitle}} <time>{{site.data.next-episode.date | date: '%B %-d, %Y'}}</time></h2>
      </div>
    </article>
  </div>
</section>
<!--
  {% for page in site.pages %}
    {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
  {% endfor %}
-->
