$brand-primary: #2C4C50;
$brand-success: #18A9BC;

$primary-dark: #1593A3;
$secondary-dark: #213A3D;

$navbar-default-link-hover-color: $brand-success;
$navbar-default-brand-hover-color: $navbar-default-link-hover-color;
